<!-- Footer -->
<footer>
    <section id="footer">
        <div class="footercontainer">
          <div class="brand">  
            <h1><span>P</span>ets <span>W</span>orld</h1>
          </div>
          <h2>For more information you can also visit</h2>
          <div class="social-icon">
            <div class="social-item">
              <a href="https://web.facebook.com/groups/451768310431191/" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/social-facebook-button-blue-icon--social-bookmark-iconset--yootheme-6.png" width="50px"  alt="Facebook logo" /></a>
            </div>
            <div class="social-item">
              <a href="https://instagram.com/petsworld0290?igshid=YmMyMTA2M2Y=" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/pics-photos-instagram-logo-png-4.png" width="50px" alt="Instagram logo " /></a>
            </div>
            <div class="social-item">
              <a href="https://twitter.com/PetsWorld0290?t=jGzet-Mr-gIFOY27n0MxMg&s=09" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-in-blue-circle-design-twitter-icon-15.png" width="50px" alt="Twitter logo" /></a>
            </div>
            <div class="social-item">
              <a href="https://www.freepnglogos.com/pics/linkedin-logo-png" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/linkedin-logo-transparent----6.png" width="50px" alt="linkedin logo " /></a>
            </div>
          </div>
          <p>Copyright © 2020 petsWorld. All rights reserved</p>
        </div>
      </section>
    </footer>