<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/productdetails.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Product Details</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand1">
          <a href="#hero">
            <h1><span>P</span>ets <span>W</span>orld</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/views/index.html" data-after="Home">Home</a></li>
            <li><a href="/views/products.html" data-after="Products">Products</a></li>
            <li><a href="/views/index.html#projects" data-after="Projects">About us</a></li>
            <li><a href="/views/index.html#contact" data-after="Contact">Contact us</a></li>
            <li><a href="./Signin.html" data-after="Sign In">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <div class="hero">
    <div class="row">
        <div class="col">

            <div class="slider">
               
                <div class="preview">
                    <img src="/images/Beef for Dog.jpg" id="imagebox" alt="">
                </div>
            </div>

        </div>
        <div class="col">

            <div class="content">
                <p class="brand">Brand: Varanga</p>
                <h2>Woman Black Quirky Print Empire Dress</h2>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p class="price">Brand: Varanga</p>
                <p>Size: <select name="size">

                        <option value="select size">select size</option>
                        <option value="small">small</option>
                        <option value="medium">medium</option>
                        <option value="large">large</option>

                    </select></p>
                <p>Quantity: <input type="text" value="1"></p>
                <button type="button">
                    <i class="fa fa-shopping-cart"></i>
                    Add to cart</button>
            </div>

        </div>
    </div>


   
</body>
</html>

