<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <label for="">Name:
    </label>
        <input type="text" name="" id="inputname">
        <button type="Add Name"></button>
        <br><br><br><br>
        <div>
        <input placeholder="Search by name" type="" name="" id="">
 <button type="searchbutton">Search</button>
</div>
<table id="table">
<thead>
   <th>  </th>
   <th></th>
   <th></th>
   <th></th>
   <th></th>
</thead>
</table>
 
</body>
</html>