<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/public/CSS/Signin.css">
</head>
<body>
    <section>
   <div class="imagebox">
    <img src="/images/caties.jpg" alt="Picture">
   </div>   
   <div class="contentBox">
    <div class="formatBox">
        <h2>Login</h2>
        <form action="">
            <div class="inputBox">
                <span>Username</span>
                <input type="text" name="">
            </div>
            <div class="inputBox">
                <span>Password</span>
                <input type="password" name="">
            </div>
            <div class="remember">
                <label for="">
                    <input type="checkbox" name="" id="">
                    Remember me
                </label>
            </div>
            <div class="inputBox">
                <input type="submit" value="Sign In"name="">
            </div>
            <div class="inputBox">
                <p>
                    Don't have an account?
                    <a href="/views/Signup.html">Sign up</a>
                </p>
            </div>
        </form>
       
    </div>
   </div>  

    </section>
    
</body>
</html> 