<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/CSS/user/placedoders.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Product Details</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand1">
          <a href="#hero">
            <h1><span>P</span>ets <span>W</span>orld</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/views/index.html" data-after="Home">Home</a></li>
            <li><a href="/views/products.html" data-after="Products">Products</a></li>
            <li><a href="/views/index.html#projects" data-after="Projects">About us</a></li>
            <li><a href="/views/index.html#contact" data-after="Contact">Contact us</a></li>
            <li><a href="./Signin.html" data-after="Sign In">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
   <div>
      </div>
       </section>
       <section>
        <table >

 

            <tr>
           
            <th>Product Id</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price </th>
           <th>Deliver Status</th>
              </tr>
           
           
             <tr>
           
            <td>1</td>
           
            <td>3000</td>
           
            <td>3</td>
           
            <td>9000</td>
           
           
            <td> 
                <a href="" class="btn btn-primary">Delivered</a>
                <a href="" class="btn btn-danger">Cancelled</a>
               
            </td>
           
            </tr>
            <tr>
           
                <td>1</td>
               
                <td>3000</td>
               
                <td>3</td>
               
                <td>9000</td>
               
               
                <td> 
                    <a href="" class="btn btn-primary">Delivered</a>
                    <a href="" class="btn btn-danger">Cancelled</a>
                   
                </td>
               
                </tr>
          
                <tr>
           
                    <td>1</td>
                   
                    <td>3000</td>
                   
                    <td>3</td>
                   
                    <td>9000</td>
                   
                   
                    <td> 
                        <a href="" class="btn btn-primary">Delivered</a>
                        <a href="" class="btn btn-danger">Cancelled</a>
                       
                    </td>
                   
                    </tr>
                    <tr>
           
                        <td>1</td>
                       
                        <td>3000</td>
                       
                        <td>3</td>
                       
                        <td>9000</td>
                       
                       
                        <td> 
                            <a href="" class="btn btn-primary">Delivered</a>
                            <a href="" class="btn btn-danger">Cancelled</a>
                           
                        </td>
                       
                        </tr>
          
                        <tr>
           
                            <td>1</td>
                           
                            <td>3000</td>
                           
                            <td>3</td>
                           
                            <td>9000</td>
                           
                           
                            <td> 
                                <a href="" class="btn btn-primary">Delivered</a>
                                <a href="" class="btn btn-danger">Cancelled</a>
                               
                            </td>
                           
                            </tr>
          
                            <tr>
           
                                <td>1</td>
                               
                                <td>3000</td>
                               
                                <td>3</td>
                               
                                <td>9000</td>
                               
                               
                                <td> 
                                    <a href="" class="btn btn-primary">Delivered</a>
                                    <a href="" class="btn btn-danger">Cancelled</a>
                                   
                                </td>
                               
                                </tr>
          
                                <tr>
           
                                    <td>1</td>
                                   
                                    <td>3000</td>
                                   
                                    <td>3</td>
                                   
                                    <td>9000</td>
                                   
                                   
                                    <td> 
                                        <a href="" class="btn btn-primary">Delivered</a>
                                        <a href="" class="btn btn-danger">Cancelled</a>
                                       
                                    </td>
                                   
                                    </tr>
          
                                    <tr>
           
                                        <td>1</td>
                                       
                                        <td>3000</td>
                                       
                                        <td>3</td>
                                       
                                        <td>9000</td>
                                       
                                       
                                        <td> 
                                            <a href="" class="btn btn-primary">Delivered</a>
                                            <a href="" class="btn btn-danger">Cancelled</a>
                                           
                                        </td>
                                       
                                        </tr>
          
                                        <tr>
           
                                            <td>1</td>
                                           
                                            <td>3000</td>
                                           
                                            <td>3</td>
                                           
                                            <td>9000</td>
                                           
                                           
                                            <td> 
                                                <a href="" class="btn btn-primary">Delivered</a>
                                                <a href="" class="btn btn-danger">Cancelled</a>
                                               
                                            </td>
                                           
                                            </tr>
          
                                            <tr>
           
                                                <td>1</td>
                                               
                                                <td>3000</td>
                                               
                                                <td>3</td>
                                               
                                                <td>9000</td>
                                               
                                               
                                                <td> 
                                                    <a href="" class="btn btn-primary">Delivered</a>
                                                    <a href="" class="btn btn-danger">Cancelled</a>
                                                   
                                                </td>
                                               
                                                </tr>
          
                                                <tr>
           
                                                    <td>1</td>
                                                   
                                                    <td>3000</td>
                                                   
                                                    <td>3</td>
                                                   
                                                    <td>9000</td>
                                                   
                                                   
                                                    <td> 
                                                        <a href="" class="btn btn-primary">Delivered</a>
                                                        <a href="" class="btn btn-danger">Cancelled</a>
                                                       
                                                    </td>
                                                   
                                                    </tr>
          
                                                    <tr>
           
                                                        <td>1</td>
                                                       
                                                        <td>3000</td>
                                                       
                                                        <td>3</td>
                                                       
                                                        <td>9000</td>
                                                       
                                                       
                                                        <td> 
                                                            <a href="" class="btn btn-primary">Delivered</a>
                                                            <a href="" class="btn btn-danger">Cancelled</a>
                                                           
                                                        </td>
                                                       
                                                        </tr>
          
                                                        <tr>
           
                                                            <td>1</td>
                                                           
                                                            <td>3000</td>
                                                           
                                                            <td>3</td>
                                                           
                                                            <td>9000</td>
                                                           
                                                           
                                                            <td> 
                                                                <a href="" class="btn btn-primary">Delivered</a>
                                                                <a href="" class="btn btn-danger">Cancelled</a>
                                                               
                                                            </td>
                                                           
                                                            </tr>
          
                                                            <tr>
           
                                                                <td>1</td>
                                                               
                                                                <td>3000</td>
                                                               
                                                                <td>3</td>
                                                               
                                                                <td>9000</td>
                                                               
                                                               
                                                                <td> 
                                                                    <a href="" class="btn btn-primary">Delivered</a>
                                                                    <a href="" class="btn btn-danger">Cancelled</a>
                                                                   
                                                                </td>
                                                               
                                                                </tr>
          
                                                                <tr>
           
                                                                    <td>1</td>
                                                                   
                                                                    <td>3000</td>
                                                                   
                                                                    <td>3</td>
                                                                   
                                                                    <td>9000</td>
                                                                   
                                                                   
                                                                    <td> 
                                                                        <a href="" class="btn btn-primary">Delivered</a>
                                                                        <a href="" class="btn btn-danger">Cancelled</a>
                                                                       
                                                                    </td>
                                                                   
                                                                    </tr>
                                                                    <tr>
           
                                                                        <td>1</td>
                                                                       
                                                                        <td>3000</td>
                                                                       
                                                                        <td>3</td>
                                                                       
                                                                        <td>9000</td>
                                                                       
                                                                       
                                                                        <td> 
                                                                            <a href="" class="btn btn-primary">Delivered</a>
                                                                            <a href="" class="btn btn-danger">Cancelled</a>
                                                                           
                                                                        </td>
                                                                       
                                                                        </tr>
                                         
                                                         
                                                                         
                                                                       
                                                                             
                                                                                     
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                  
            </table>
       </section>
    
  
 
  
   
</body>
</html>