<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Verification</title>
    <link rel="stylesheet" href="/public/CSS/user/Signin.css">
</head>
<body>
    <section>
   <div class="imagebox">
    <img src="/images/caties.jpg" alt="Picture">
   </div>   
   <div class="contentBox">
    <div class="formatBox">
        <h2>Code Verifacition</h2>
        <form action="">
            <div class="inputBox">
                <span>Code</span>
                <input type="text" name="">
            </div>
    
            <div class="inputBox">
                <input type="submit" value="Verify Code"name="" href="/views/products.html">
               
            </div>
        
        </form>
       
    </div>
   </div>  

    </section>
    
</body>
</html> 